<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User profile</title>
</head>
<style>
  .error {
    color: red;
  }

  .success {
    color: green;
  }

  .info {
    color: blue;
  }

  /* Add more styles for other message types if needed */
</style>

<body>

  <body>
    <h2>Profile Page</h2>
    {% if user != None %}
    <h3>list of users</h3>
    {% for user in users %}
    {{user.username}}
    {% endfor %}
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
      {% endfor %}
      {% endif %}
      {% for fm in form %}
      {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}<br><br>
      {% endfor %}
      <input type="submit" class="btn btn-warning" value="Save">
      <a href="{% url 'changepass' %}">Change Password</a>
      <a href="{% url 'logout' %}">Logout</a>

    </form>
  </body>

</html>